.home-container{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-container{
    background-image: url(../../img/Home/TopBgImg.jpg);
    width: 100vw;
    height: 700px;
    margin-top: 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-arrow{
    width: 37px;
    height: 35px;
    margin-left: 15px;
    cursor: pointer;
}

.right-arrow{
    width: 30px;
    height: 35px;
    margin-right: 15px;
    cursor: pointer;
}
.creative-heading-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.creative-heading{
    font-size: 40px;
    font-weight: 800;
    font-family: "Roboto";
    color:#B27B60;
    margin-bottom: 0px;
}
.creative-paragraph{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #525C60;
}
.shop-now-button{
    background-color: #652700;
    width: 189px;
    height: 52px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto";
    color: #ffffff;
    cursor: pointer;
}
.group-775{
    height: 473px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 13px; */
}
.about-us-container{
    display: flex;
    align-items: center;
    height: 500px;
    align-self: center;
}
.about-container{
    height: 100%;
    
}
.about-us{
    color: #652700;
    font-size: 18px;
    font-weight: 400;
}
.about-us-heading{
    color: #F86F03;
    font-family: "Roboto";
    margin-top: 10px;
    margin-bottom: 10px;
}
.organic-food-heading{
    color: #7E1717;
    margin-top: 45px;
    margin-bottom: 0px;
    font-size: 20px;
}
.about-us-button{
    background-color:#3A2723;
    width: 180px;
    height: 70px;
    padding: 18px 19px 18px 19px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    gap: 7px;
}
.orange-arrow{
    border-radius: 100%;
    background-color: #F86F03;
    height: 20px;
    /* margin-left: 15px; */
}
.our-products-container{
    background-color: #FFDAA9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-product-heading{
    color: #652700;
    width: 298px;
    height: 59px;
}
.featured-products-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 0px;
    width: 100%;
}
.featured-products-heading{
    width: 482px;
    height: 61px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 45px;
    color: #000000;
    padding-left: 30px;
    margin-bottom: 0px;
}
.featured-product{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 503px;
    width: 20%;
    border: 1px solid #BFBFBF;
    border-radius: 30px;
    padding: 20px;
    background-color: #F1F0E8;
    margin-right: 10px;
    text-decoration: none;
}
.sale{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    color: #ffffff;
    text-align: center;
    align-self: flex-start;
}
.sale2{
    margin-top: 50px;
    width: 100%;
}

.featured-product-heading{
    width: 234px;
    height: 40px;
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto";
    align-self: center;
    color:#274C5B;   
    margin-bottom: 0px;
}
.hr-line{
    color: #BFBFBF;
    width: 100%;
}
.featured-product-cost{
    color: #BFBFBF;
    text-decoration: line-through;
    width: 132px;
    height: 25px;
}

.updated-cost{
    color:#274C5B;
    text-decoration: #274C5B;
    font-weight: 600;
    text-decoration: none;
}
.cost-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-to-cart{
    background-color: #652700;
    border-radius: 10px;
    width: 96px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.load-more{
    background-color: #652700;
    align-self: center;
}
.brand-partner-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FFF3DA;
    height: 300px;
    margin-top: 20px;
}
.brands-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #FFF7EF;
    padding-top: 15px;
    padding-bottom: 15px;
}
.brand-image{
    /* background-color: #F8F0E5; */
    width: 200px;
    height: 200px;
}
.our-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #D1D1D1;
    height: 450px;
    margin-top: 0px;
}
.policy{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    height: 330px;
    width: 250px;
    margin-right: 18px;
}
.policy-heading{
    font-size: 28px;
    font-weight: 800;
    font-family: "Roboto";
    color:#8F3300;
}
.policy-desc{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #525C60;
    text-align: center;
    margin-top: 0px;
}